.home-section{
  display:grid;
  grid-template-columns: 2fr 1fr;
  padding-top:50px;
}
.about-div{
  padding-bottom:30px;
}

.my-image{
  width:300px;
  height: 350px;
  object-position:center;
  object-fit:cover;
  border-radius: 10px;
}
.image-div{
text-align: right;
}
.role
{
  margin:0;
  font-size:80px;
  font-weight: 400;
}
.resume-button
{
  margin-top: 20px;
  width:115px;
  height: 60px;
  border:none;
  border-radius: 10px;
  font-family:roboto;
  font-weight:300;
  font-size: large;
  color:white;
  background-color: rgb(14, 147, 255);
  align-content: center;
  align-self: center;
}
.resume-link-img{
  height: 21px;
  width:25px;
  object-fit: cover;
}
@media(max-width:1000px) and (min-width:870px)
{
  .image-div{
    padding-top: 10%;
    }
  .my-image{
    width:250px;
    object-position:center;
    object-fit:cover;
    border-radius: 10px;
  }
}
@media(max-width:870px)
{
  .home-section{
    display:grid;
    grid-template-columns:1fr;
    padding-top:50px;
  }
  .my-image{
    padding-top:10%;
    width:300px;
    height: 350px;
    object-position:center;
    object-fit:cover;
    border-radius: 10px;
  }
  .image-div{
  text-align: center;
  }
}