.sidebar-link-image{
  width:50px; 
  margin-right:10px;
}
.sidebar-nav{
  position: fixed;
  top:37%;
  left:0%;
  display:flex;
  flex-direction: column;
  align-self: center;
}
.sidebar-div{
  position: relative;
  background-color: rgb(47, 62, 87);
  background-color: rgb(0, 0, 0);
  width:100%;
  display: grid;
  height: 223px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  border-top-right-radius:5px; 
  border-bottom-right-radius:5px;
}
.sidebar-links:hover{
  display:flex;
  position:relative;
  text-decoration:none;
}
.sidebar-links:hover .sidebar-links-text{
  display:block;
}
.sidebar-links:hover{
  left:20%;
}
.sidebar-links-text
{
  position:absolute;
  font-family: roboto;
  color:white;
  font-size:20px;
  background-color: transparent;
  border:none;
  width:130%;
  display:none;
  left:48px;
  background-color: rgb(0, 0, 0);
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left:10px;
  line-height: 50px;
}
.github-image{
  width:50px;
  height: 45px;
  /* background-color: lightblue; */
  object-position: center;
  object-fit: cover;
}
.linkedin-image{
  margin-top:10px;
  margin-left:12px;
  object-position: center;
  object-fit: cover;
  height:30px;
  width:28px;
}
.email-image{
  width:32px;
  height: 40px;
  margin-left:8px;
}
.instagram-image{
  width:42px;
  object-fit:cover;
  object-position: center;
  margin-left:5px;
  margin-top:10px;
}
@media(max-width:870px)
{
  .sidebar-nav{
    position: relative;
    display:flex;
    top:-440px;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-div{
    background-color: rgb(0, 0, 0);
    /* background-color: transparent; */
    width: 300px;    
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    row-gap: 0px;
    padding:5px 0px;
    margin:0px;
  }
  .sidebar-links{
  text-align: center;
  align-self: center;
  align-items: center;
  }
  .sidebar-links:hover .sidebar-links-text{
    display:none;
  }
  .sidebar-links:hover{
    display:inline;
    position:static;
    text-decoration:none;
    /* left: 0%; */
  }
  .instagram-image{
    width:45px;
    object-fit:cover;
    object-position: top;
    margin:0px
  }
  .github-image{
    width:50px;
    height: 45px;
    object-position: center;
    object-fit: cover;
    margin:0px;
  }
  .linkedin-image{
    /* margin-top:5px; */
    align-self: center;
    margin-left:0px;
    margin:0px;
    object-position: center;
    object-fit: cover;
    height:30px;
    width:30px;

  }
  .email-image{
    width:32px;
    height: 40px;
    margin:0px;
  }
}
